*, *::after, *::before {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #acacac;
}

nav {
  box-shadow: #000 0 0 3px 0;
}
